<div class='menu_period'>
  Horoscope:
  <%= link_to 'du jour', sign_path(@sign), :class => ('selected' if @period == 'jour') %>
  <%= link_to 'de la semaine', sign_with_period_path(@sign,'semaine'), :class => ('selected' if @period == 'semaine') %>
  <%= link_to 'du moi', sign_with_period_path(@sign,'moi'), :class => ('selected' if @period == 'moi') %>
</div>